pthon as calcualtor

In [2]:
2+2
50-5*6
8/5

1.6

In [3]:
2+2

4

In [4]:
50-5*6

20

In [5]:
9/5

1.8

In [6]:
9%5

4

to discard the fraction value of a division use floor division .it round off the nearest integer value

In [11]:
9//5

1

In [8]:
17/3

5.666666666666667

TO CALCULATE POWER OF A NUMBER use **

In [12]:
5**2

25

In [14]:
6**3

216

to assign valkues we use  = opreator

In [15]:
width = 20

In [16]:
height = 40
width*height

800

In [17]:
u = 23
k = 56
o = u+k
h = 89+_
h

889

the current printed value is stored in the saymbol ius called _

In [18]:
complex(6,9)

(6+9j)

In [21]:
'uday kuamr samyuktha' #single cords

'uday kuamr samyuktha'

In [22]:
"uday samyktha" # double cords

'uday samyktha'

In [24]:
'uday\'s' #\ is a escape character in order  to print ' we use  \

"uday's"

In [26]:
uday's #this gives an error

SyntaxError: EOL while scanning string literal (<ipython-input-26-52e87a159b97>, line 1)

In [28]:
s = 'this is first line\nthis is second line'
print(s) #without print() this is present in ther same line 
s

this is first line
this is second line

'this is first line\nthis is second line'

if u don't want caharacyers prefaced by \ to be interrupted as special characters you can use raw strings by adding an 'r' before first quote

In [29]:
print(r'c:\udaykuamr\sunny')

c:\udaykuamr\sunny

In [31]:
print('c:\udaykuamr\sunny') #with out using r in front of the firsy quotes

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-5: truncated \uXXXX escape (<ipython-input-31-7f6f90c12c18>, line 1)

* operator for a string use to multiply the sstring into nmber of times

In [32]:
3*'uday'+3*'samyu'

'udayudayudaysamyusamyusamyu'

In [33]:
for i in range(4):
    print('uday'+ 'samyu')

udaysamyu
udaysamyu
udaysamyu
udaysamyu

# 
to consecutive srtings enclosed between the cords are concatinated automatically

In [34]:
'uday''samyu'

'udaysamyu'

In [35]:
W = 'UDAYSAMYUKTHA'
W[0]
W[1]
W[2]
W[-1]
W[-2]
W[-3]

'T'

In [36]:
W[-2]

'H'

In [37]:
W[-1]

'A'

In [38]:
W[0]

'U'

In [39]:
W[1]

'D'

In [40]:
W[2]

'A'

slicing opraetor in the strings :

In [41]:
W[:]

'UDAYSAMYUKTHA'

In [42]:
W[1:]

'DAYSAMYUKTHA'

In [43]:
W[:-1]

'UDAYSAMYUKTH'

In [44]:
len(s ) #this fn used to find the length of a given string

38

# STRING METHODS

# capitalize()

In [46]:
W.capitalize() #returns the string with first letter as capital

'Udaysamyuktha'

# casefold()

In [48]:
W.casefold()  #return a copy of the string casefoalded strings  be used for cascaseless matching

'udaysamyuktha'

# lower()

In [51]:
i = 'UDAYSAMYU'
i.lower() #converts the srring into lower case letters

'udaysamyu'

# center()

In [53]:
i.center(45)

'                  UDAYSAMYU                  '

# count()

In [59]:
W.count('U') #COUNTS THE OCCURRENCES OF THE NON OVERLAPPIPING SUB STRINGS

2

# encode()

In [66]:
o = W.encode(encoding='utf-8', errors='strict') #returns the encodedvrsion of string as byte object

# endswith()

In [68]:
W.endswith('SAMYUKTHA')  #RETURNS THE TRUE IF THE STRING ENDS WITH THE PASSED SUFFIX OTHERWISE IT IS FALSE

True

# expandtabs()

W = 'o\top\tios\t123\topl'
W.expandtabs() #will expand the tabs of a given string

# find()

In [70]:
'UDAY'in 'UDAYSAMYKTHA' #FIND OPRATION USE DTO FIND THE GIVEN SUBSTRING

True

# isalnum()

In [71]:
W.isalnum()  #Return true if all characters in the string are alphanumeric and there is at least one character, false otherwise. A character c is alphanumeric if one of the following returns True: c.isalpha(), c.isdecimal(), c.isdigit(), or c.isnumeric()

True

# isascii()

In [72]:
W.isascii()

AttributeError: 'str' object has no attribute 'isascii'

# replace()

In [73]:
W.replace('UDAY', 'UDAYKUMAR') #REPLACE THE NEW VALUE IN PLACE OF OLD VALUE

'UDAYKUMARSAMYUKTHA'

# rstrip()

In [74]:
W.rstrip("kumar") #used to remove the sub srting from a given string

'UDAYSAMYUKTHA'

# split()

In [77]:
W.split(',', maxsplit= 1)

['UDAYSAMYUKTHA']

In [78]:
'1,23,3'.split(',') #usef to split the numbers bt given character

['1', '23', '3']

# startswith()

In [79]:
W.startswith('UDAY') #RETURNS TRUE IF A GIVEN STRING IS STARTS WITH THE PASSED STRING

True

# title()

In [82]:
W.title() #returns thr tittled case version of the string

'Udaysamyuktha'

 # swapcase()

In [83]:
W.swapcase()

'udaysamyuktha'

# upper()

In [6]:
y = 'udaysamyu'
y.upper()

'UDAYSAMYU'

# format method

 #Perform a string formatting operation. The string on which this method is called can contain literal text or replacement fields delimited by braces {}. Each replacement field contains either the numeric index of a positional argument, or the name of a keyword argument. Returns a copy of the string where each replacement field is replaced with the string value of the corresponding argument.

In [13]:
'the sum of 1 + 2 is{2}  '. format(1+2,3+5,34+89)

'the sum of 1 + 2 is123  '

In [16]:
'the sum of 1 + 2 is{1}  '. format(1+2,3+5,34+89) #it will replace the value  in touple with the index placed in the braces

'the sum of 1 + 2 is8  '

In [18]:
'the sum of 1 + 2 is{0}  '. format(1+2,3+5,34+89)

'the sum of 1 + 2 is3  '

In [22]:
y.index('samyu')  #finds the index of the sun string or a character

4

In [26]:
y.translate('teleugu')

'udaysamyu'

In [29]:
y.maketrans({1:'uday'})

{1: 'uday'}

# The conversion flag characters are:


Flag
Meaning
'#'
The value conversion will use the “alternate form” (where defined below).
'0'
The conversion will be zero padded for numeric values.
'-'
The converted value is left adjusted (overrides the '0' conversion if both are given).
' '
(a space) A blank should be left before a positive number (or empty string) produced by a signed conversion.
'+'
A sign character ('+' or '-') will precede the conversion (overrides a “space” flag).
A length modifier (h, l, or L) may be present, but is ignored as it is not necessary for Python – so e.g. %ld is identical to %d.
The conversion types are:



Conversion
Meaning
Notes
'd'
Signed integer decimal.
 
'i'
Signed integer decimal.
 
'o'
Signed octal value.
(1)
'u'
Obsolete type – it is identical to 'd'.
(6)
'x'
Signed hexadecimal (lowercase).
(2)
'X'
Signed hexadecimal (uppercase).
(2)
'e'
Floating point exponential format (lowercase).
(3)
'E'
Floating point exponential format (uppercase).
(3)
'f'
Floating point decimal format.
(3)
'F'
Floating point decimal format.
(3)
'g'
Floating point format. Uses lowercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise.
(4)
'G'
Floating point format. Uses uppercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise.
(4)
'c'
Single character (accepts integer or single character string).
 
'r'
String (converts any Python object using repr()).
(5)
's'
String (converts any Python object using str()).
(5)
'a'
String (converts any Python object using ascii()).
(5)
'%'
No argument is converted, results in a '%' character in the result.